<div class="flex-container content" fxLayout="row">
    <div class="flex-item search-sidebar white-frame" fxFlex="30">
        <md-card id="search">
            <md-card-title>
                Search
            </md-card-title>
            <navigator></navigator>
        </md-card>
        <md-card>
            <md-card-title>Filter by Keyword and Sentiment</md-card-title>
            <md-input-container class="search-box" id="search-keyword">
                <input mdInput placeholder="Search Keyword" [(ngModel)] = "_keywordFilter">
            </md-input-container>
            <md-select placeholder="Select Sentiment" [(ngModel)]="_sentimentFilter" id="sentiment">
                <md-option *ngFor = "let sentiment of sentimentOptions" [value]="sentiment">
                    {{ sentiment }}
                </md-option>
            </md-select>
            <button md-button class="search-button" md-tooltip="Search for keyword">
                <i class="fa fa-arrow-right"></i>
            </button> <!-- button to search results -->
            <button md-button class="search-button" md-tooltip="Clear filters"> <!-- button to clear results -->
                <i class="fa fa-remove" (click) = "clearFilters()"></i>
            </button>
        </md-card>
        <div *ngFor="let mediaElement of mediaElements">
            <sidebar-media-content-card [mediaElement] = "mediaElement" *ngIf="filterMediaBySentimentAndKeyword(_sentimentFilter, _keywordFilter, mediaElement)">
            </sidebar-media-content-card>
        </div>
    </div>
    <div id="map" fxFlex>
    </div>
</div>

